/* _content/Pms/Pages/Inventory/CreateInvoice.razor.rz.scp.css */
.input-group-append[b-0unknaabvc] {
    position: relative;
    top: -2px; /* Adjust this value as needed */
}

.btn[b-0unknaabvc] {
    cursor: pointer;
}
/* _content/Pms/Pages/Inventory/UnsolvedTicket.razor.rz.scp.css */
 
/* _content/Pms/Pages/Supplier/AddSupplier.razor.rz.scp.css */
.image-uploader[b-3vg08r2xb0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Make the div look clickable */
}

.image-preview[b-3vg08r2xb0] {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    background-color: #f9f9f9;
}

    .image-preview img[b-3vg08r2xb0] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.remove-button[b-3vg08r2xb0] {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.image-preview:hover .remove-button[b-3vg08r2xb0] {
    display: block;
}

.file-input[b-3vg08r2xb0] {
    display: none; /* Hide the actual file input */
}
/* _content/Pms/Shared/MainLayout.razor.rz.scp.css */
 
