################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pms/FileContentIndex/6a8ee487-6ca6-4187-a794-ba52e16c4f9d.vsidx
