################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pms/FileContentIndex/6a8ee487-6ca6-4187-a794-ba52e16c4f9d.vsidx
/.vs/Pms/FileContentIndex/97d72588-e39f-4b31-b1ae-561b8fa8eac4.vsidx
/.vs/Pms/FileContentIndex/ab7f264f-2971-4f72-b15a-1b79ce60b38f.vsidx
/.vs/Pms/FileContentIndex/e2e0b008-ac9e-4f7d-a27c-4f24c5a334c5.vsidx
