 @page "/save_alert"
@using System.Threading.Tasks

@if (showAlert)
{
    <SuccessAlert Message="@alertMessage" Show="@showAlert" OnClose="HideAlert" />
}


<button @onclick="SaveData">Save</button>

@code {
    private bool showAlert = false;
    private string alertMessage = "";

    private async Task SaveData()
    {
        // Your logic to save data here
        // For demonstration, let's assume saving data is successful
        showAlert = true;
        alertMessage = "Save successful!";
        StateHasChanged(); // Notify Blazor to re-render the component

        // Hide the alert after 0.5 seconds
        await Task.Delay(1000);
        showAlert = false;
    }

    private Task HideAlert()
    {
        showAlert = false;
        return Task.CompletedTask;
    }
}
