@inherits LayoutComponentBase
     <SideNavBar/>
     <div class="content">
           <NavHeader/>
             @Body
      </div>

     <script src="assets/js/theme.js"></script>
<script src="vendors/fullcalendar/main.min.js"></script>
<script src="vendors/dayjs/dayjs.min.js"></script>


