@inherits LayoutComponentBase
@Body
@* 
@if (IsAuthenticateUser)
{
    <SideNavBar />
    <div class="content"> 
        <NavHeader />
        <Toast ToastService="toastService" />
        @Body

        <footer class="footer">
            <div class="row g-0 justify-content-between fs-10 mt-4 mb-3">
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-600">Thank you for creating with .... <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2024 &copy; <a href="#">#</a></p>
                </div>
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-600">v3.19.0</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/theme.js"></script>
    <script src="vendors/fullcalendar/main.min.js"></script>
    <script src="vendors/dayjs/dayjs.min.js"></script>


}
else
{
    <Login />
}


@code{
    public bool IsAuthenticateUser { get; set; } = true;
    protected async override Task OnInitializedAsync()
    {
        
    }
} *@
 