 
@using Domain.Models.ViewModel
 @using LoginAppMVC.Pages
@using LoginAppMVC.Pages.Inventory
@using LoginAppMVC.Pages.Products
@using LoginAppMVC.Pages.Shared
@using Microsoft.AspNetCore.Routing
@model RoutingHelper
@{
    ViewData["Title"] = "Blazor Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


 

@* <!-- Example component rendered directly based on route name -->
@if (Model.RouteName == "create_invoice" && Model.IsShow)
{
    <component type="typeof(CreateInvoice)" render-mode="ServerPrerendered" />
}
else if (Model.RouteName == "product_entry" && Model.IsShow)
{
    <component type="typeof(ProductEntry)" render-mode="Server" />
}
else if (Model.RouteName == "counter" && Model.IsShow)
{
    <component type="typeof(HelloWorld)" render-mode="Server" />
}
else
{
    <h3>Invalid Route</h3>
} *@




<div id="blazorComponentContainer">
    @await Html.PartialAsync("_BlazorPagePartial", Model)
</div>
<button onclick="loadComponent('create_invoice')">Load Create Invoice</button>
<button onclick="loadComponent('product_entry')">Load Product Entry</button>
<button onclick="loadComponent('counter')">Load Counter</button>
<button onclick="loadComponent('billing_plan')">Load Counter</button>
<button onclick="LoadMvcComponent('billing_plan')">Load mvc</button>

        