@page "/add_employee"


<div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0" data-anchor="data-anchor">
                <i class="fas fa-arrow-left"></i>
               Employee Info
            </h5>

    </div>
    <div class="card-body bg-body-tertiary">
        <div class="row ">
            <div class="col-sm-5 animated-div">
                <div class="form-group">
                    <label for="addEmployee" class="label text-dark">Give Mobile No<span class="error-star">*</span></label>
                    <input name="name" type="text" class="form-control form-control-sm form-rounded invalid-border-input" placeholder="Give Mobile No" required>
                    <div class="text-left invalid-message-color">
                        Mobile No Required!
                    </div>
                </div>
            </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                    <label for="addEmployee" class="label text-dark">Name<span class="error-star">*</span></label>
                    <input name="name" type="text" class="form-control form-control-sm form-rounded invalid-border-input" placeholder="Name" required>
                    <div class="text-left invalid-message-color">
                        Name Required!
                    </div>              
            </div>
            </div>
            </div>
        
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Department</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Department" required>               
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Designation</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Designation" required>
            </div>
        </div>

        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Grade</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Grade" required>
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Salary</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Salary" required>
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                        <label for="addEmployee" class="label text-dark">Select Country<span class="error-star">*</span></label>
                        <input name="name" type="text" class="form-control form-control-sm form-rounded invalid-border-input" placeholder="Select Country" required>
                        <div class="text-left invalid-message-color">
                             Country Name Required!
                        </div>
                   </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">State Name</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Give Your State Name" required>
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Give Supplier Address line One</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Give Supplier Address Line One" required>
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Give Supplier Address line Two</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Give Supplier Address Line Two" required>
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Email</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Write Email" required>
            </div>
        </div>
       
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="addEmployee" class="label text-dark">Image Link </label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Image Link" required>
            </div>
        </div>
        <div>
                    <button class="btn btn-primary btn-sm mt-2">Save</button>
        </div>
        </div>
</div>


@code {

}
