@page "/stock_infu"

<div class="card" id="ticketsTable">
    <div class="card-header border-bottom border-200 px-0">
        <div class="d-lg-flex justify-content-between">
            <div class="row flex-between-center gy-2 px-x1">

                <div class="col-auto pe-0">
                    <h5 class="mb-0">Stock Info</h5>

                </div>

                <div class="col-auto pe-0">

                    <div class="input-group input-search-width">
                        <input class="form-control form-control-sm shadow-none" type="search" placeholder="Search  by name" aria-label="search" />
                        <button class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary"><span class="fa fa-search fs-10"></span></button>



                    </div>

                </div>
                <div class="col-auto pe-0">
                    <button class="btn btn-falcon-default btn-sm ms-sm-1"><span class="fas fa-redo"></span></button>
                </div>
            </div>
            <div class="border-bottom border-200 my-3"></div>
            <div class="d-flex align-items-center justify-content-between justify-content-lg-end px-x1">


                <div class="d-flex align-items-center" id="table-ticket-replace-element">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-falcon-default dropdown-toggle dropdown-caret-none" type="button" id="dashboard-layout" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block me-1 table-layout">Table View</span><span class="fas fa-chevron-down" data-fa-transform="shrink-3 down-1"></span></button>

                    </div>

                    <a class="btn btn-falcon-default btn-sm mx-2" href="#!" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="fas fa-plus" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1">New</span></a>

                </div>
            </div>
        </div>
    </div>


    <div class="tab-content" id="ticketViewContent">

        @*   <p>Loading...</p>

        <p>An error occurred: errorMessage</p> *@

        <div class="fade tab-pane active show" id="table-view" role="tabpanel" aria-labelledby="tableView" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":6,"pagination":true}'>
            <div class="card-body p-0">
                <div class="table-responsive scrollbar">
                    <table class="table table-sm mb-0 fs-10 table-view-tickets">
                        <thead class="bg-body-tertiary">
                            <tr>
                                @*   <th class="py-2 fs-9 pe-2" style="width: 28px;">
                                <div class="form-check d-flex align-items-center">
                                Action  <input class="form-check-input" id="checkbox-bulk-table-tickets-select" type="checkbox" data-bulk-select='{"body":"table-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' />
                                </div>
                                </th>  *@
                                <th class="text-800 sort align-middle ps-4" data-sort="client">Action</th>
                                <th class="text-800 sort align-middle ps-2" data-sort="client">Category</th>
                                <th class="text-800 sort align-middle ps-4" data-sort="client">Sub Category</th>
                                <th class="text-800 sort align-middle ps-2" data-sort="client">Product Name/Model </th>
                                <th class="text-800 sort align-middle ps-4" data-sort="client">Serial no</th>
                                <th class="text-800 sort align-middle ps-2" data-sort="client">In Stock</th>
                                <th class="text-800 sort align-middle ps-4" data-sort="client">In Unit</th>
                                

                            </tr>
                        </thead>
                        <tbody class="list" id="table-ticket-body">

                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">

                                        <a class="btn btn-falcon-default btn-sm " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></a>
                                        <a class="btn btn-falcon-default btn-sm ">
                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </a>

                                    </div>

                                </td>

                                <td class="align-middle fs-9 py-3">
                                    <div class="d-flex align-items-center gap-2 position-relative">

                                        ColorIdName


                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center d-none" id="tickets-table-fallback">
                        <p class="fw-bold fs-8 mt-3">No ticket found</p>
                    </div>
                </div>
            </div>

        </div>
        @*  <div class="fade tab-pane" id="card-view" role="tabpanel" aria-labelledby="cardView" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":4,"pagination":true}'>
        <div class="card-body p-0">
        <div class="form-check d-none">
        <input class="form-check-input" id="checkbox-bulk-card-tickets-select" type="checkbox" data-bulk-select='{"body":"card-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' />
        </div>
        <div class="list bg-body-tertiary p-x1 d-flex flex-column gap-3" id="card-ticket-body">


        <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
        <div class="d-flex align-items-start align-items-sm-center">
        <div class="form-check me-2 me-xxl-3 mb-0">

        <a class="btn btn-falcon-default btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></a>
        <a class="btn btn-falcon-default btn-sm ">
        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
        </a>
        </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">

        </a>
        <div class="ms-1 ms-sm-3">
        <p class="fw-semi-bold mb-3 mb-sm-2">ColorIdName</p>

        </div>
        </div>


        </div>



        </div>
        <div class="text-center d-none" id="tickets-card-fallback">
        <p class="fw-bold fs-8 mt-3">No ticket found</p>
        </div>
        </div>

        </div>*@
        <div class="card-footer">
            <div class="row">
                <div class="pagination d-none"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="d-none d-sm-inline-block me-2 fs-10">page </span>

                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-auto d-flex justify-content-end">
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>

@code {

}
