@*  @page "/"
@namespace LoginAppMVC.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Blazor Integration</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Blazor Component in MVC Layout</h1>
        
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>
    </div>

     
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
 *@