@page "/FaQ"

<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../assets/img/icons/spot-illustrations/corner-4.png);">
    </div>
    <!--/.bg-holder-->

    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3>FAQ Accordion</h3>
                <p class="mb-0">Below you'll find answers to the questions we get <br class='d-none.d-sm-block' /> asked the most about to join with Falcon</p>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="accordion border rounded overflow-hidden" id="accordionFaq">
            <div class="card shadow-none rounded-bottom-0 border-bottom">
                <div class="accordion-item border-0">
                    <div class="card-header p-0" id="faqAccordionHeading1">
                        <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start rounded-0 shadow-none" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion1" aria-expanded="false" aria-controls="collapseFaqAccordion1"><span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span><span class="fw-medium font-sans-serif text-900">How long do payouts take?</span></button>
                    </div>
                    <div class="accordion-collapse collapse" id="collapseFaqAccordion1" aria-labelledby="faqAccordionHeading1" data-parent="#accordionFaq">
                        <div class="accordion-body p-0">
                            <div class="card-body pt-2">
                                <p class="ps-3 mb-0">Once you’re set up, payouts arrive in your bank account on a 2-day rolling basis. Or you can opt to receive payouts weekly or monthly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@code {

}
