@page "/company_information"


<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0 " data-anchor="data-anchor">
            <i class="fas fa-arrow-left"></i>
            Company Information
        </h5>
    </div>

    <div class="card-body bg-body-tertiary">
                   
      <div class=" row flex-center"
        
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Full Name</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">                
            </div>
             <div class="text-left invalid-message-color">
                        Full Name Required!
                    </div>
        </div>

        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Organization Name</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
            <div class="text-left invalid-message-color">
                        Organization Name Required!
                    </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Company Name</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
             <div class="text-left invalid-message-color">
                        Company Name Required!
                    </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Adress line-1</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
             <div class="text-left invalid-message-color">
                        Adress line-1 Required!
                    </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Adress line-2</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Active Status</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Start to End time</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Off Day</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
         <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">State</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
             <div class="text-left invalid-message-color">
                       State Required!
                    </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Country Code</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
             <div class="text-left invalid-message-color">
                        Country Code Required!
                    </div>
        </div>     
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Gmail</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-5 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Phone No</label><span class="error-star">*</span>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
             <div class="text-left invalid-message-color">
                        Phone No Required!
                    </div>
        </div>
         <div>
            <button class="btn btn-primary btn-sm">Save</button>
        </div>

        </div>

        </div>
        </div>

@code {

}
