@page "/bonusList"
@using BlazorAppServerAppTest.Models;
@using Pms.Data;
 

<h3>BonusList</h3>
<button class="btn btn-success">Save</button>
@if (bonus != null)
{
    @foreach (var t in bonus)
    {
        <div>@t.WORKER_REF_ID</div>
        <div>@t.BONUS_AMOUNT</div>
    }
}
else
{
    <p>Loading data...</p>
}

@code {
    List<Bonus> bonus;
    [Inject] TaskService taskService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bonus = await taskService.getBonus();
    }
}
