 @page "/person"
@using Pms.Models

<h3>Add Person</h3>

<EditForm Model="@person" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="person.Name" />
        <ValidationMessage For="() => person.Name" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="age">Age:</label>
        <InputNumber id="age" @bind-Value="person.Age" />
        <ValidationMessage For="() => person.Age" class="text-danger" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Person person = new Person();

    private void HandleValidSubmit()
    {
        // Handle the submission of the form with valid data
        // This method is called when the form is submitted and the data is valid
        Console.WriteLine("Form submitted successfully!");
    }
}
